service cloud.firestore {
  match /databases/{database}/documents {
  
  	match /{document=**} {
      allow read, write: if false;
    }
    
    match /{pathSegment}/{document=**} {
      
      function hasPermission(operation) {
        return get(/databases/$(database)/documents/permissions/$(pathSegment)/groups/$(request.auth.token.groups[0])).data[operation]
        || get(/databases/$(database)/documents/permissions/$(pathSegment)/groups/$(request.auth.token.groups[1])).data[operation]
        || get(/databases/$(database)/documents/permissions/$(pathSegment)/groups/$(request.auth.token.groups[2])).data[operation]
        || get(/databases/$(database)/documents/permissions/$(pathSegment)/groups/$(request.auth.token.groups[3])).data[operation]
      }

			// read
      allow get: if hasPermission('get');
      allow list: if hasPermission('list');
			// write
      allow create: if hasPermission('create');
      allow update: if hasPermission('update');
      allow delete: if hasPermission('delete');
    }

  }
}